body {
    margin: 0;
    display: grid;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: cursive;
    background-color: white;
    overflow: hidden;
  }
.Grid
{
    margin: 50px 80px;
    border-radius: 25px;
    background-color: green;
    width: 100%;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}


